.book-list {
    list-style-type: none;
    padding: 0;
    background-color: antiquewhite;
    margin: 0;
    display: flex; /* Display the list items as flex items */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center;
  }

  .search {
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: antiquewhite;
  }
  
  .search input[type="text"] {
    width: 15rem;
    padding: 10px;
    margin: 2rem 0 0 2rem;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }