.book-list {
    list-style-type: none;
    padding: 0;
    background-color: antiquewhite;
    margin: 0;
    display: flex; /* Display the list items as flex items */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center;
  }

  .search{
    margin:1rem 0 1rem  20rem; 
    width: 20rem;
  }